<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Atlanta Falcons Tickets</title>
    <link rel="stylesheet" href="../app.css" type="text/css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
        <div class="navhold">
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/products">Tickets</a>
        <a href="/add">Contact Us</a>
        <a href="/contacts" >Message Board</a>
       <a href="/upload" >At a Game? Send a Pic!</a>
  </div>
  
   <form accept-charset="UTF-8" style="display: inline-block; width: 90%;" action="/search" method="post" >
                  
                  
                   
                    <input name="search" type="text" placeholder="What game would you like to go to?" />
                     
            
                  <button class="button">Search</button>
          </div>
              </form>
</div>
</div>

