<% include ../partials/header %>

<div class="intro">
<h1> Your Home for Falcons Tickets. Rise Up</h1>
</div>

<div class="row">
            <div class="holder">
    
                  <div class="large">
                  
                  <a href="/products"><h2>Buy and Trade your Atlanta Falcons Tickets Here</h2></a>
            </div>
        
    <div class="myVideo1">
        <video autoplay muted loop class="myVideo1">
            <source src="falcons1.mp4" type="video/mp4">
        </video>
    </div>
              
    <div class="myVideo2">
        <video autoplay muted loop class="myVideo2">
            <source src="falcons2.mp4" type="video/mp4">
        </video>
        
    </div>
    
            </div>

    </div>

<% include ../partials/footer %>